[build]
  publish = "build"
  command = "npm ci && npm rebuild react-scripts --force && chmod +x node_modules/.bin/react-scripts && npm run build"


[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
